pandas==1.5.3
numpy==1.23.5
matplotlib==3.6.2
seaborn==0.12.2
scikit-learn==1.2.2
xgboost==1.7.6
shap==0.41.0
imbalanced-learn==0.10.1
joblib==1.2.0
jupyter==1.0.0
nbconvert==7.2.10
python==3.13.3